<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FF BET</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: rgb(28, 10, 10);
        }
        div p{
            margin-top: 40vh;
            font-size: 50px;
            color: rgb(221, 221, 221);
            font-weight: 100;
            font-family: sans-serif;
            letter-spacing: 10px;
            word-spacing: 10px;
            box-shadow: 1px 1px 1px 1px yellow;
            text-shadow: 2px 2px 4px violet;            
        }
    </style>
</head>
<body>
    <div>
        <p>FF BET</p>
    </div>




    <script>
        setTimeout(() => {
            let token = "<%= token %>"
            console.log(token);
            
            if(token === ""){
                window.location.href = '/signup'
            }
            else{
                window.location.href = '/home'
            };
        }, 3000)
    </script>
</body>
</html>