<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zonewar player-details</title>
    <link rel="stylesheet" href="/css/playerdetailspage.css">
</head>
<body>
    <div class="main-container">
        <h2>Account Details</h2>
        <div>
            <div class="player-NAME-ID-MOBIE-Container">
            <div>
                <label for="">Player Name</label>
                <p><%= player.FFNAME %></p>
            </div>
            <div>
                <label for="">Player FF ID</label>
                <p><%= player.FFID %></p>
            </div>
            <div>
                <label for="">Player Mobile No</label>
                <p><%= player.MobileNo %></p>
            </div>
            </div>
            <hr>
       
            <!-- <a href="tel:+7603959664">Call</a> -->
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            <a href="https://www.instagram.com/zonewar_ff/">Instagram</a>
            <a href="https://www.youtube.com/@ZONEWAR_FF">YouTube</a>
            <a href="mailto:ffbet11.gmail@.com?subject=Support Request&body=Hello, I need help with...">Email</a>
            <a href="/termsandconditions">Terms & Conditions</a>
        </div>
    </div>
</body>
</html>