<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FF BET Terms&Conditions</title>
    <link rel="stylesheet" href="/css/termsandcondition.css">
</head>
<body>
    <!-- TAC IS A FORM OF TERMS AND CONDITIONS -->
    <div class="main-container">
        <h2>Terms&Conditions </h2>
        <div class="head-TAC">
            <p>"Welcome to FFBet – Your ultimate destination for Free Fire betting!🔥 Place your bets, win big, and dominate the battleground! 💥".       </p>
            <p>This game may be habit-formating or financially risky. Play responsibly.</p>
            <p>For 18+ Only.</p>
        </div>
        <div class="signup-TAC">
            <h5>SIGNUP</h5>
            <p>1. Enter Your FF ID(Eg: 1234567890[10 digits only]) and FF NAME (Eg: ckmp40king) and Your MobileNo(gpay,Eg: 1234567890).</p>
            <p>2. The amount you win will be credited to this mobile number. So Enter Valid Gpay Used Mobile Number.</p>
            <p>3. Enter Password and Click the T&C checkbox after that Click Signup Button</p>
            <p>4. Your Datas saved in our DataBase in securly.</p>
            <p>5. You can only use your FFID once.</p>
        </div>
        <div class="login-TAC">
            <h5>LOGIN</h5>
            <p>1. In this page Enter Signuped FFID And Password after Click Login Button</p>
            <p>2. Maybe you forgot your password 7603959664 this mobileNO "password?" and attached your FFID,FFNAME,MobileNo.Within 1 day update your password in your MobileNo. This is the Only Way.</p>
        </div>
        <div class="payment-TAC">
            <h5>PAYMENT METHOD</h5>
            <p>1. Enter Match Amout Button You Will be go to payment page.</p>
            <p>2. Cheack Your FFID AND mobileNO and FF name correct or wrong.</p>
            <p>3. After select payment method(GPAY).</p>
            <p>4. Go to GpayApp. and Enter Our UPI ID or Gpay number and send match fixed amount in our gpay number or upi id</p>
            <p>5. Next go to that payment page enter gpay TransactionId(Eg: 12345678900[12 digits]).</p>
            <p>6. After that, when you click the submit button, if you have made the payment correctly, you will be redirected to the home page and will receive a notification confirming that you have applied correctly. If not, an error notification will appear on the home page.</p>
        </div>
        <div class="playerSelectedMethod-TAC">
            <h5>PLAYER SELECTED METHOD</h5>
            <p>1. A player’s Free Fire ID can be used only once for a match. If they try to use it a second time, an error should be shown on the home page.</p>
            <p>2. If a player has correctly made the payment and applied for the match, they will be selected as part of our Free Fire bet team. Otherwise, they will be rejected.</p>
            <p>3. The room ID and password for the match in which you are selected, along with the player details, will be shown in the match container. For matches in which you are not selected, these details will not be shown.</p>
            <p>4. The room ID and password will be shown 30 minutes before the match starting time.</p>
            <p>5. You can use the room ID and password to enter the Free Fire app and join the match.</p>
            <p>6.  you share the ID and password with your friends or with players who are not selected for the match, your Free Fire bet account will be added to the block list.</p>
        </div>
        <div class="playerRejectedMethod-TAC">
            <h5>PLAYER REJECTED METHOD</h5>
            <p>1. If a player provides an incorrect payment transaction ID or makes any other mistake in the match, they will be rejected from that match.</p>
        </div>
        <div class="winningAmount-TAC">
            <h5>WINNING AMOUNT</h5>
            <p>1. The prize amount for each match will be shown separately.</p>
            <p>2. The prize amount for the position where the player ranks will be transferred to the player's GPay number within 5 minutes.</p>
            <p>3. If there is any network error during the transaction, the winning amount will be transferred to the player's GPay number within 30 minutes.</p>
            <p>4. If you use hacks while playing the game, the winning amount will not be given to you.</p>
        </div>
        <div class="contact-TAC">
            <h5>CONTACT</h5>
            <a href="tel:+7603959664">CALL</a>
            <a href="https://www.instagram.com/ck_lover_006/?hl=en">INSTAGRAM</a>
            <a href="https://www.youtube.com/channel/UCuc-sqaNCiWQAPTt54__w4w">YOUTUBE</a>
            <a href="mailto:support@example.com?subject=Support Request&body=Hello, I need help with...">EMAIL</a>
        </div>
    </div>
</body>
</html>